<section></section>

<form id="add-post" class="create-form card">
  <h3 class="card-header text-uppercase">Create New Post</h3>
  <div class="card-body">
    <form id="user-form">
      <label class="form-label" for="add_title">Title</label>
      <input name="add-title" id="username" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="add-content">Content</label>
      <textarea id="add-content" class="form-input" name="content-area" rows="2"></textarea>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>  
</form>

<ol class="post-list">
  {{#each posts as |post|}}
  <li class="card">
    <article class="post">
        <div class="title card-header">
            <a href="../post/{{id}}")>{{title}}</a>
            <span>({{user.username}})</span>
        </div>
        <div class="meta">
            <a href="/">{{content}}</a>
        </div>
    </article>
  </li>
  {{/each}}
</ol>
<div class="Absolute-Center"> 
  <button id="new-btn">+ New Post</button>
</div>

<script src="/javascript/add-post.js"></script>
