<form id="login" class="login-form card">
  <h3 class="card-header text-uppercase">Login</h3>
  <div class="card-body">
    <form id="user-form">
      <label class="form-label" for="username-login">Username</label>
      <input name="username-login" id="username-login" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="password-login">Password</label>
      <input name="password-login" id="password-login" type="text" autofocus="true" class="form-input" />
      <button type="submit" class="btn">Login</button>
      <a id ="signUpBtn" href="">Signup instead</a>
    </form>
  </div>
</form>

<form  id="sign-up" class="signup-form card">
  <h3 class="card-header text-uppercase">Sign Up</h3>
  <div class="card-body">
    <form id="user-form">
      <label class="form-label" for="username-signup">Username</label>
      <input name="username-signup" id="username-signup" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="password-signup">Password</label>
      <input name="password-signup" id="password-signup" type="text" autofocus="true" class="form-input" />
      <button type="submit" class="btn">Sign Up</button>
      <a id ="loginBtn" href="">Login instead</a>
    </form>
  </div>
</form>

<script src="/javascript/login.js"></script>