<form class="login-form card">
  <h3 class="card-header text-uppercase">Login</h3>
  <div class="card-body">
    <form id="user-form">
      <label class="form-label" for="username">Username</label>
      <input name="username" id="username" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="username">Password</label>
      <input name="username" id="password" type="text" autofocus="true" class="form-input" />
      <button type="submit" class="btn" id="loginBtn">Login</button>
      <a href="/">Signup instead</a>
    </form>
  </div>
</form>

<form class="signup-form card">
  <h3 class="card-header text-uppercase">Sign Up</h3>
  <div class="card-body">
    <form id="user-form">
      <label class="form-label" for="username-signup">Username</label>
      <input name="username" id="username-signup" type="text" autofocus="true" class="form-input" />
      <label class="form-label" for="password-signup">Password</label>
      <input name="username" id="password-signup" type="text" autofocus="true" class="form-input" />
      <button type="submit" class="btn">Sign Up</button>
      <a href="/">Login instead</a>
    </form>
  </div>
</form>

<script src="/javascript/login.js"></script>